/* O "*" muda tudo*/
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

/*Estilo do corpo*/
body{
font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: black;
color: rgb(255, 255, 255);
}

/*Cabeçalho e navegação*/
header{
background-color: rgb(43, 255, 0);
padding: 1% 1%;
}
header nav ul{
    list-style: none;
    text-align: center;
}
header nav ul li{
display:inline-flex;
margin: 10px 10px;
}
header nav ul li a{
color: rgb(0, 0, 0);
text-decoration: none;
font-size: 15px;
}
header nav ul li a:hover{
    color: rgb(255, 0, 0);
}

/* Estilização do inicio*/
.ini-section{
    text-align: center;
    color: rgb(255, 255, 255);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ini-section h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.ini-section p{
font-size: 15px;
margin-bottom: 15px;
max-width: 300px;
}
.cta-button{
background-color: rgb(21, 255, 0);
color: rgb(0, 0, 0);
text-decoration: none;
border-radius: 24px;
padding: 15px 30px;
font-weight: bold;
transition: background-color 0.5s;
}
.cta-button:hover{
background-color: darkred;
}

/* Aqui começa a sessão "sobre nós" */
.sobre-section{
background-color:rgb(21, 255, 0);
color: black;
padding: 80px 20px;
text-align: center;
}
.sobre-section h2{
font-size: 20px;
margin-bottom: 15px;
}
.sobre-section p{
font-size: 18px;
margin-bottom: 20px;
max-width: 800px;
margin: 0 auto 20px auto;
line-height: 1.5;
}

/* Aqui começa sessão serviços*/
#Serviços{
background-color: rgb(0, 0, 0);
text-align: center;
padding: 40px 20px;
}
.cards{
display: flex;
justify-content: center;
gap: 20px;
}
.card{
background-color: rgb(0, 0, 0);
color: rgb(21, 255, 0);
padding: 20px;
border-radius: 8px;
width: 250px;
box-shadow: 0 4px 8px rgb(21, 255, 55);
cursor: pointer;
transition: transform 0.5s;
}
.card:hover{
transform: scale(1.05);
box-shadow: 0 8px 16px rgb(255, 0, 0);
background-color: rgb(119, 12, 12);
}
.card h3{
font-size: 23px;
margin-bottom: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.card p{
font-size: 16px;
margin-bottom: 10px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.preço{
    font-weight: bold;
font-size: 16px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
#Serviços h2{
font-size: 30px;
padding: 20px;
}
/* Seção contato*/
#contato{
background-color: rgb(0, 0, 0);
color: aliceblue;
padding: 50px 20px;
text-align: center;
}
#contato h2{
font-size: 20px;
margin-bottom: 20px;
}
.contato-form{
max-width: 500px;
margin: 0 auto;
text-align: left;
}
.contato-form label{
display: block;
margin-bottom: 5px;
}
.contato-form input, .contato-form textarea{
width: 100%;
padding: 10px;
margin-bottom: 15px;
border-radius: 15px;
}
.contato-form button{
    background-color: rgb(0, 0, 0);
    color: rgb(21, 255, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px; 
}
.contato-form button:hover{
    background-color: rgb(255, 0, 0);
}